# ----------------------------------------------------
# Languages
# ----------------------------------------------------

[[language]]
name = "c"
auto-format = true
formatter = { command = "clang-format", args = ["--style=LLVM"] }

[[language]]
name = "nix"
auto-format = true
formatter = { command = "nixpkgs-fmt" }

[[language]]
name = "bash"
file-types = ["sh"]
auto-format = true
formatter = { command = "shfmt", args = ["-i", "2", "-ci"] }

[[language]]
name = "python"
auto-format = true
language-servers = ["pyright"]
formatter = { command = "ruff", args = ["format", "-n", "-"] }

[[language]]
name = "css"
auto-format = true

[[language]]
name = "html"
auto-format = true

[[language]]
name = "javascript"
auto-format = true

[[language]]
name = "typescript"
auto-format = true
# formatter = { command = "prettier", args = [ "--stdin-filepath", "%" ] }

[[language]]
name = "dockerfile"
auto-format = true
formatter = { command = "dockerfmt" }

# ----------------------------------------------------
# LSP
# ----------------------------------------------------

[language-server.nil]
command = "nil"
config = { nix.flake.autoEvalInputs = true }

# [language-server.ruff]
# command = "ruff"
# args = ["server", "--preview"]
# config = { organizeImports = true, lint.run = "onSave" }

[language-server.clangd]
command = "clangd"
args = ["--clang-tidy", "-j=5", "--malloc-trim"]
