/* ------------------------------------------------ */
/* Global Styling                                   */
/* ------------------------------------------------ */

* {
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
  font-weight: 600;
  background: transparent;
}

#privacy,
#bluetooth,
#idle_inhibitor {
  font-size: 16px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */

#workspaces {
  font-size: 15px;
  color: #EE99A0;
  border: 2px solid #EE99A0;
}

#workspaces button {
  padding: 0 0.5rem;
  margin: 0.20em;
}

#workspaces button.focused {
  color: #EE99A0;
}

#tray {
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  color: #CAD4F5;
  font-size: 14px;
  border: 2px solid #CAD4F5;
}

#cpu {
  color: #eba0ac;
  font-size: 14px;
  border: 2px solid #eba0ac;
}

#memory {
  color: #f5c2e7;
  font-size: 14px;
  border: 2px solid #f5c2e7;
}

#network {
  color: #C6A0F6;
  font-size: 14px;
  border: 2px solid #C6A0F6;
}

#pulseaudio {
  color: #8AADF4;
  font-size: 14px;
  border: 2px solid #8AADF4;
}

#backlight {
  color: #f9e2af;
  font-size: 14px;
  border: 2px solid #f9e2af;
}

#battery {
  color: #A6DA95;
  font-size: 14px;
  border: 2px solid #A6DA95;
}
